.moduleCard {
    white-space: nowrap;
}

.cardList {
    display: inline-block;
    margin: 0px 5px 0;
    width: 280px;
    border-radius: 3px;
    border: 1px solid #D0D0D0;
    background: #f3f4f6;
    white-space: normal;
    vertical-align: top;
    overflow: hidden;
}

// 创建模块
.add-list {
    width: 244px;
    padding: 13px 18px 13px;
    padding: 12px 18px 13px 9px;
    color: #b5c4c7;
    background: #F5F6F7;
    cursor: pointer;
}

.addMoudleForm {
    display: flex;
    align-items: center;

    .el-form-item {
        margin-right: 5px;
        margin-bottom: 0px;
    }

    .btnGroup {
        display: flex;

        .btn {
            display: inline-block;
            width: 35px;
            line-height: 25px;
            font-size: 14px;
            cursor: pointer;

            &:first-child {
                color: #3582fb;
            }
        }
    }
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    min-height: 45px;
    border-radius: 3px 3px 0 0;

    .list-title {
        line-height: 28px;
        max-width: 230px;
        border-radius: 2px;
        font-size: 15px;
        color: #3b434d;

        .list-count {
            padding-left: 5px;
            font-size: 12px;
            color: #bac0cb;
        }
    }

    .icon-gengduo-shuxiang {
        font-size: 22px;
        cursor: pointer;
    }
}

.cards-wrap {
    margin-bottom: -1px;
    border-top: 1px solid #DBDFE0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;

    .card-event {
        padding: 5px 15px;
        border-top: 1px solid #DBDFE0;

        &:first-child {
            border-top: none;
        }
    }

    .card-head {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;

        .card-name {
            display: inline-block;
            padding-right: 20px;
            margin-left: 10px;
            margin-bottom: 2px;
            width: 220px;
            line-height: 22px;
            font-size: 15px;
            color: #363636;
            font-weight: normal;
            vertical-align: top;
            word-wrap: break-word;
            overflow: hidden;
            cursor: pointer;
        }

        .el-dropdown {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
}

.label-wrap {
    padding: 0 0 0 20px;

    .board_viewlabel {
        display: inline-block;
        padding: 0 5px;
        margin: 0 5px 5px 0;
        min-width: 28px;
        height: 15px;
        border-radius: 2px;

        &.label-1 {
            background-color: #93C36B !important;
        }

        &.label-2 {
            background-color: #E7BB0E !important;
        }

        &.label-3 {
            background-color: #FC6D65 !important;
        }
    }
}

.projectTime {
    padding: 0 0 0 20px;
    font-size: 12px;
}

// 创建卡片
.list-bottom {
    padding: 11px 15px 12px;
    line-height: 16px;
    border-top: 1px solid #DBDFE0;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    cursor: pointer;

    span {
        font-size: 14px;
    }
}

.addCardForm {
    width: 100%;

    .addCardFormBottom {
        text-align: center;

        &.el-form-item {
            margin-bottom: 0px;
        }
    }
}

// 灰色
.gray {
    color: #999 !important;
    text-decoration: line-through;
}